<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Home</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <!-- ここを画像に置き換える -->
            <a class="navbar-brand" href="#">
                <img src="img/knowhow.png" alt="ノウハウ共有プラットフォーム" style="height: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% 'knowhow_index' %}">ノウハウ共有</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% 'thread_index' %}">チャット</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <a class="nav-link" href="#">ブックマーク</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ログアウト</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">マイページ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="page-header" style="padding-top: 50px;">
        <div class="container my-3 bg-light" style="padding-top:1rem; padding-bottom:1rem">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>
                        ノウハウ共有プラットフォーム
                    </h1>
                    <p>
                        ここは、教師たちが日々の業務におけるノウハウを共有し合う場所です。
                    </p>
                </div>
            </div>
        </div>

        <div id="page-header"></div>
        <div class="container my-3">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1 class="fst-italic" style="padding-top: 1rem; color: gold;">
                        今月のいいね数ランキング
                    </h1>

                    <img src="img/trophy.png" style="width: 40px; height: 70px; margin-right: 20px;">

                </div>
            </div>
        </div>
        </div>



    </header>

    <div class="container" style="padding-bottom: 4rem;">
        <div class="row">
            <div class="col-md-12 m-auto text-align: left">
                <h2 style="padding-top: 4rem; padding-bottom: 0rem; text-decoration: underline; text-align: left;">
                    ノウハウ部門
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="gold.png" style="width: 40px; height: 70px; margin-right: 20px;">
                            <!-- タイトルの下に下線を追加 -->
                            <h5 class="card-title border-bottom pb-2">タイトル</h5>
                        </div>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="silver.png" style="width: 40px; height: 70px; margin-right: 20px;">
                            <!-- タイトルの下に下線を追加 -->
                            <h5 class="card-title border-bottom pb-2">タイトル</h5>
                        </div>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="bronze.png" style="width: 40px; height: 70px; margin-right: 20px;">
                            <!-- タイトルの下に下線を追加 -->
                            <h5 class="card-title border-bottom pb-2">タイトル</h5>
                        </div>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <!-- タイトルの下に下線を追加 -->
                        <h5 class="card-title border-bottom pb-2">
                            <span style="font-size: 1.5rem; margin-right: 10px;">4位</span>
                            タイトル
                        </h5>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <!-- タイトルの下に下線を追加 -->
                        <h5 class="card-title border-bottom pb-2">
                            <span style="font-size: 1.5rem; margin-right: 10px;">5位</span>
                            タイトル
                        </h5>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <!-- タイトルの下に下線を追加 -->
                        <h5 class="card-title border-bottom pb-2">
                            <span style="font-size: 1.5rem; margin-right: 10px;">6位</span>
                            タイトル
                        </h5>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <!-- タイトルの下に下線を追加 -->
                        <h5 class="card-title border-bottom pb-2">
                            <span style="font-size: 1.5rem; margin-right: 10px;">7位</span>
                            タイトル
                        </h5>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <!-- タイトルの下に下線を追加 -->
                        <h5 class="card-title border-bottom pb-2">
                            <span style="font-size: 1.5rem; margin-right: 10px;">8位</span>
                            タイトル
                        </h5>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <!-- タイトルの下に下線を追加 -->
                        <h5 class="card-title border-bottom pb-2">
                            <span style="font-size: 1.5rem; margin-right: 10px;">9位</span>
                            タイトル
                        </h5>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card bg-light" style="width: 100%; height: 300px;">
                    <div class="card-body">
                        <!-- タイトルの下に下線を追加 -->
                        <h5 class="card-title border-bottom pb-2">
                            <span style="font-size: 1.5rem; margin-right: 10px;">10位</span>
                            タイトル
                        </h5>
                        <p class="card-text mb-1">作成日時：yyyy/mm/dd</p>
                        <p class="card-text mb-1">作者：</p>
                        <p class="card-text mb-1">いいね数：</p>
                        <p class="card-text">カテゴリー名：</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 m-auto text-align: left">
                <h3 style="padding-top: 4rem; padding-bottom: 0rem; text-decoration: underline; text-align: left;">
                    チャット部門
                </h3>
            </div>
        </div>

        <section id="list"></section>
        <div class="container-fluid my-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>順位</th>
                                    <th>コメント</th>
                                    <th>カテゴリー</th>
                                    <th>投稿日時</th>
                                    <th>いいね数</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;"><img src="gold.png" alt="1位" style="width:30px;">
                                    </td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="silver.png" alt="2位" style="width:30px;">
                                    </td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;"><img src="bronze.png" alt="3位" style="width:30px;">
                                    </td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; font-size: 20px;">4</td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; font-size: 20px;">5</td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; font-size: 20px;">6</td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; font-size: 20px;">7</td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; font-size: 20px;">8</td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; font-size: 20px;">9</td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; font-size: 20px;">10</td>
                                    <td>授業準備について教えて</td>
                                    <td>授業準備</td>
                                    <td>yyyy/mm/dd</td>
                                    <td>23</td>
                                    <td><a href="#" class="btn btn-secondary">返信</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </div>

</body>

</html>