<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>チャット詳細</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <!-- ここを画像に置き換える -->
            <a class="navbar-brand" href="#">
                <img src="img/knowhow.png" alt="ノウハウ共有プラットフォーム" style="height: 40px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ノウハウ共有</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" href="#">チャット</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">ログアウト</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">アカウント情報</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 4rem; padding-bottom: 4rem;">

        <div class="container" style="padding-top: 1rem; padding-bottom: 4rem;">

            <form class="d-flex mb-lg-4" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    style="height: 40px;">
                <button type="submit" style="border: none; background: none;">
                    <img src="img/search_icon.png" alt="検索" style="height: 40px;">
                </button>
                <div class="dropdown" style="margin-left: 10px;"> <!-- 隙間を開けるためのマージン -->
                    <button class="btn btn-secondary dropdown-toggle mg-3 me-2 ml-2" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="height: 40px;">
                        カテゴリ名
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-left: 10px;"> <!-- 隙間を開けるためのマージン -->
                    <button class="btn btn-warning" type="button" style="height: 40px; width: 100px;"> <!-- 幅を指定 -->
                        いいね数順
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <style>
                    .bg-light-yellow {
                        background-color: #fffacd; /* 薄黄色 */
                    }
                </style>
            </form>

        </div>
        <section id="list">
            <div class="container my-3 m-auto bg-light-yellow">
                <div class="row">
                    <div class="col-13"> <!-- 横幅を最大に -->
                        <div class="card p-2 mb-2 bg-warning"  style="margin-top: 20px;">
                            <div class="d-flex">
                                <div class="col-md-2 align-middle" style="width: 90px">
                                    {{ thread.created_at }}
                                </div>
                                <div class="col-md-1 text-center align-middle" style="width: 50px">
                                    <strong>{{ thread.author.username }}</strong>
                                </div>

                                <div class="col-md-9 bl-2"> <!-- 横幅を調整 -->
                                    <strong>{{ thread.title }}</strong>
                                </div>
                            </div>
                        </div>
                        {% for comment in comments %}
                        <div class="card p-2 mb-2">
                            <div class="d-flex">
                                <div class="col-md-2 align-middle" style="width: 90px">
                                    {{ comment.created_at }}
                                </div>
                                <div class="col-md-1 text-center align-middle" style="width: 50px">
                                    <strong>{{ comment.author.username }}</strong>
                                </div>

                                <div class="col-md-15"> <!-- 横幅を調整 -->
                                   {{ comment.comment }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="d-flex justify-content-center mt-5">
                            <div class="col-md-2">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.comment }}
                                    {{ form.s3_url }}
                                    <button type="submit" class="btn btn-outline-light w-100">返信</button>
                                </form>                                                                                
                            </div>
                        </div>
                        <div style="margin-bottom: 20px;"></div> <!-- 下に20pxの隙間 -->
                        
                    </div>
                </div>

            </div>
        </section>



    </div>

    <!--メニュー-->
    <section id="menu">
        <div class="container my-3 py-4 bg-light">
            <div class="row">
                
                <div class="col-md-2">
                    <button type="button" class="btn btn-secondary w-100" onclick="history.back()">
                        戻る
                    </button>
                </div>
            </div>
        </div>
    </section>

</body>

</html>