*.pyc
*.pyo
*.pyd
__pycache__/
*.env

*/migrations/*


*.db
*.sqlite3

.env
*.env


staticfiles/


media/

*.log


venv/
env/
ENV/
.venv/
.env/


.idea/
.vscode/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db

